
div.container-news {
    margin:auto;
    overflow: hidden;
    max-width: 1000px;
  }
 
.container{
    text-align: center;
    display: grid;
    justify-content: space-between;
}

.card {
    position: relative;
    border: white;
    
}
.container-new .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.7s;
    z-index: 1;
}

.container-new .card .icon .fa h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.7s;
    color: #fff;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.7s;
    color: #fff;
    width: 300px;
    height: 250px;
}

.container-new .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container-new .card .face.face1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}
.card:hover .face.face1{
    transform: translateY(0px);
}

 .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.card .face.face1 .content i{
    max-width: 100px;
}

 .card .face.face2 {
    position: relative;
    background:#705B4A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}
.card:hover .face.face2{
    transform: translateY(0);
}

.card .face.face2 .content  {
    margin: 0;
    padding: 0;
    text-align: none;
    color: #414141;
}
a{
    color:#04060A ;
}
b{
    color: whitesmoke;
}
.card .face.face2 .content {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
    text-align: none;
    color: #414141;
} 

 /* a {
    text-decoration: none;
    color: #414141;
} */